<div class="tab-pane" id="content-status" role="tabpanel" title="Status" data-type="default">
<p>This is a Transmitter for YouTube Live only. It does not work with Twitch.</p>
{% include ext_tabcontent/get_version.html %}
  <div class='row pt-3'>
     <h5>Appearance</h5>
     <div class="col col-md-auto"><button type="button" class="btn btn-primary btn-sm" onclick="TSLNoTabs()">No Tabs</button><button type="button" class="btn btn-primary btn-sm ms-2" onclick="TSLTabs()">Show Tabs</button></div>
  </div>
{% include ext_tabcontent/message_logging.html %}
</div>
<!--Your external script will be inserted here-->
<!--<script src="example.js"></script>-->
<!--INSERT PART 1-->
 